@using System.Threading
@{
    string culture = Thread.CurrentThread.CurrentCulture.Name;
}

<!DOCTYPE html>

<html>
<head>
    <title>Inveon Task - @ViewBag.Title</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <link href="~/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/plugins/kendo/2015.1.408/css/kendo.common-bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/plugins/kendo/2015.1.408/css/kendo.custom.css" rel="stylesheet">

    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
</head>
<body>
    <div style="width: 70%">
        @RenderBody()
    </div>

    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/jquery-migrate/jquery-migrate.min.js"></script>
    
    <script src="@Url.Content("~/Content/plugins/kendo/2015.1.408/scripts/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/kendo/2015.1.408/scripts/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/kendo/2015.1.408/scripts/messages/kendo.messages." + culture + ".min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/kendo/2015.1.408/scripts/cultures/kendo.culture." + culture + ".min.js")"></script>

    <script type="text/javascript">
        kendo.culture("@culture");
    </script>

    @RenderSection("script", false)
</body>
</html>
